main {
  margin: 30px auto;
  width: 1200px;
  background-color: white;
  overflow: hidden;
  padding: 20px;
}

body {
  background: url(../images/rat-background.jpg);
  background-size: cover;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  color: #222;
  margin: center;   
  background-repeat: no-repeat;
}

.center {
  width: 400px;
  float: left;
  margin-right: 10px;
}

.left {
  float: left;
  width: 390px;
  margin-right: 10px;
}

.right {
  float: left;
  width: 390px;
}

.gif {
  width:390px;
  height: 300px;
}

/*give them different classes and style their heights separately */
.avatar {
  height: 250px;
}

h1 {
  font-weight: bold;
  font-size: 30px;
  color: black;
}

#skinnerLoses {
display: none;
}

#mabelLoses {
display: none;
}

#skinnerWins {
display: none;
}

#mabelWins {
display: none;
}

/*.player1, {
float: right;
}

.player2, {
float:left;
}*/

.timer, .score {
  font-size: 30px;
  font-weight: bold;
}

.btn {
  background: #64DD17;
  border-radius: 5px;
  width: 400px;
  margin: 10px auto;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.btn:hover {
  background: #FFEB3B;
  color: #222;
}

ul {
  width: 400px;
  height: 400px;
  background: #2196F3;
  margin: 0 auto;
  padding: 0;
  border-radius: 5px;
}

li {
  width: 80px;
  height: 80px;
  margin: 10px;
  float: left;
  background: white;
  list-style-type: none;
  border-radius: 100%;
  line-height: 80px;
  text-align: center;
}

ul:hover {
  cursor: url('../images/skinnersword_360.png'), auto;
}

li.rat {
  background: url("../images/rat.jpg");
  background-size: cover;
  background-position: top center;
}
li.dead-rat{
  background: url("../images/blood.svg");
  background-size: cover;
  background-position: top center;
}